<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li style="list-style: none"><input type="checkbox"> <%= link_to task.title, task_path(task) %>..........<%= link_to 'Delete!', task, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<%= link_to "Create new task", tasks_new_path %>


